<h3 class="mb-5">{{ stockAddTitle() | titlecase }}</h3>
<form autocomplete="off" [formGroup]="stockForm" (ngSubmit)="addStock()">
    <div class="mb-3">
        <h5>Desde el signal: {{ this.name() }}</h5>
        <label class="form-label">Nombre del Producto</label>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="name" [value]="this.name()"
            (change)="this.name.set(txtName.value)" (input)="this.name.set(txtName.value)" #txtName>
    </div>
    <div class="mb-3">
        <h5>Cantidad: {{ this.cuantity() }}</h5>
        <label class="form-label">Cantidad</label>
        <input type="number" class="form-control" placeholder="Cantidad" formControlName="cuantity"
            [value]="this.cuantity()" (change)="this.cuantity.set(+txtCuantity.value)"
            (input)="this.cuantity.set(txtCuantity.valueAsNumber)" #txtCuantity>
    </div>
    <button type="submit" class="btn btn-primary mt-3">
        Agregar
    </button>
</form>

<div class="row mt-5">
    <div class="col">
        <span>Valid</span>
        <pre>{{ stockForm.valid | json }}</pre>

        <span>Pristine</span>
        <pre>{{ stockForm.pristine | json }}</pre>

        <span>Touched</span>
        <pre>{{ stockForm.touched | json }}</pre>

        <span>Value</span>
        <pre>{{ stockForm.value | json }}</pre>
    </div>

    <div class="col">
        <span>Errors product</span>
        <pre>{{ stockForm.controls.name.errors | json }}</pre>

        <span>Errors cuantity</span>
        <pre>{{ stockForm.controls.cuantity.errors | json }}</pre>

    </div>

    <div class="col">
        <span>Value product</span>
        <pre>{{ stockForm.controls.name.value| json }}</pre>

        <span>Value cuantity</span>
        <pre>{{ stockForm.controls.cuantity.value| json }}</pre>

    </div>
</div>